entrypoint = "main.dart"
modules = ["dart-3.3"]

[nix]
channel="stable-24_05"
packages = ["flutter"]

[deployment]
run = ["dart", "main.dart"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Flutter Web"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flutter Web Server"

[[workflows.workflow]]
name = "Flutter Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter run -d web-server --web-port 5000 --web-hostname 0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Flutter Web"
author = 43095284
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter clean"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter pub get"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter run -d web-server --web-port 5000 --web-hostname 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38077
externalPort = 3000

[[ports]]
localPort = 42543
externalPort = 3001
